.item-homepage {
    padding: 40px 0;
    .inner {
    		margin-top: 50px;
    }
    &.about-me {
    	.inner {
    		margin-top: 0;
    	}
    }
    &.services {

        .link-item-service {
            display: block;
        }
    }
    &.projects {
    	.item-project {
    		margin: 15px 0;
    	}
    	.link-item-project {
			display: block;
			position: relative;
    	}
    	.bg-opacity {
    		background-color: rgba(83,82,82,0.6);
    		position: absolute;
    		bottom:0;
    		left:0;
    		right: 0;
    		font-size: 48px;
    		color:$white;
    		padding: 10px 5px;
    		text-align: center;
    		text-transform: uppercase;
    	}
    }
    &.responsive-customer {
    	
    }
}