#menu-content {
	text-align: center;
	padding: 40px 0;
	h2 {
		font-size: 48px;
		color: $blue;
		font-weight: 400;
	}
	ul {
		margin-top: 36px;
	}
	li {
		display: inline-block;
		padding: 0px 13px;
	}
	a {
		font-size: 30px;
		font-weight: bold;
		text-transform: capitalize;
		color: $blue;
		&.active, &:hover, &:focus {
			color: #0477a3;
			text-decoration: none;
		}
	}
}