@font-face {
    font-family: 'UTMCaviar';
    src: url('../fonts/UTMCaviar.eot');
    src: url('../fonts/UTMCaviar.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTMCaviar.woff2') format('woff2'),
        url('../fonts/UTMCaviar.woff') format('woff'),
        url('../fonts/UTMCaviar.ttf') format('truetype'),
        url('../fonts/UTMCaviar.svg#UTMCaviar') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'MyriadHebrew-Regular';
  src: url('../fonts/MyriadHebrew-Regular.eot');
  src: url('../fonts/MyriadHebrew-Regular.woff2') format('woff2'),
       url('../fonts/MyriadHebrew-Regular.woff') format('woff'),
       url('../fonts/MyriadHebrew-Regular.ttf') format('truetype'),
       url('../fonts/MyriadHebrew-Regular.svg#MyriadHebrew-Regular') format('svg'),
       url('../fonts/MyriadHebrew-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'slick';
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.woff') format('woff'),
       url('../fonts/slick.ttf') format('truetype'),
       url('../fonts/slick.svg#slick') format('svg'),
       url('../fonts/slick.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



