body {
  font-size: 18px;
  color: #000;
  font-family: Arial,"Helvetica", sans-serif;
  position: relative; }

p {
  line-height: 1.5;
  margin: 30px 0; }
  p a {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000;
  text-transform: uppercase; }

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0085A1; }

h2 {
  color: #0397cf;
  text-align: center;
  font-weight: 400;
  font-size: 40px; }

blockquote {
  font-style: italic;
  color: #868e96; }

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

#mainNav {
  border-bottom: 2px solid #8e8e8d;
  border-top: 2px solid #8e8e8d;
  background-color: #000;
  padding: 0px; }
  #mainNav #header-logo {
    padding-right: 30px; }
  #mainNav .menu-header {
    justify-content: flex-end; }
  #mainNav .nav-link {
    display: inline-block;
    padding: 0px 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff; }
    #mainNav .nav-link.active, #mainNav .nav-link:hover, #mainNav .nav-link:focus {
      background-color: #03a6e3; }

header.masthead {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 700px; }
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #535252;
    opacity: 0.37; }
  header.masthead .site-heading h1 {
    font-size: 60px; }
  header.masthead .site-heading .text-green {
    color: #56a809; }
  header.masthead .site-heading .text-black {
    color: #000; }

.post-preview > a {
  color: #212529; }
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1; }
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px; }
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px; }
.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96; }
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529; }
    .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
      text-decoration: underline;
      color: #0085A1; }
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px; } }

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    font-family: Arial,"Helvetica", sans-serif; }
    .floating-label-form-group input::-webkit-input-placeholder,
    .floating-label-form-group textarea::-webkit-input-placeholder {
      color: #868e96;
      font-family: Arial,"Helvetica", sans-serif; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group .help-block {
    margin: 15px 0; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #0085A1; }

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6; }

footer {
  background-color: #000;
  padding: 25px 0;
  color: #fff; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    font-size: 14px;
    margin: 0;
    text-align: center; }

#menu-content {
  text-align: center;
  padding: 40px 0; }
  #menu-content h2 {
    font-size: 48px;
    color: #0397cf;
    font-weight: 400; }
  #menu-content ul {
    margin-top: 36px; }
  #menu-content li {
    display: inline-block;
    padding: 0px 13px; }
  #menu-content a {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    color: #0397cf; }
    #menu-content a.active, #menu-content a:hover, #menu-content a:focus {
      color: #0477a3;
      text-decoration: none; }

.item-homepage {
  padding: 40px 0; }
  .item-homepage .inner {
    margin-top: 50px; }
  .item-homepage .about-me .inner {
    margin-top: 0; }
  .item-homepage .services .link-item-service {
    display: block; }
  .item-homepage .projects .item-project {
    margin: 15px 0; }
  .item-homepage .projects .link-item-project {
    display: block;
    position: relative; }
  .item-homepage .projects .bg-opacity {
    background-color: rgba(83, 82, 82, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 48px;
    color: #fff;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase; }
  .item-homepage .responsive-customer .inner {
    display: flex; }
  .item-homepage .responsive-customer .avata {
    margin-top: 15px; }
    .item-homepage .responsive-customer .avata img {
      width: 121px;
      border-radius: 100%;
      height: 121px; }
  .item-homepage .responsive-customer .title-profile {
    font-size: 30px;
    color: #0397cf;
    text-transform: capitalize;
    font-weight: 400; }
  .item-homepage .responsive-customer .profile {
    width: calc(100% - 121px);
    padding-left: 45px;
    font-size: 28px; }
  .item-homepage .contact .contact-cont, .item-homepage .contact a {
    font-size: 24px;
    color: #0397cf; }
  .item-homepage .contact .map {
    max-width: 600px;
    width: 100%; }
    .item-homepage .contact .map iframe {
      width: 100%; }

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.btn-lg {
  font-size: 16px;
  padding: 25px 35px; }

/*# sourceMappingURL=sfr.css.map */
